<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.png' />
    <style>
    </style>
  </head>
  <body>
    {{> sidebar }}
    <div class="main-body">
      {{{body}}}
    </div>
  </body>
</html>
