<span class="error-code">{{status}}</span><br>
<span class="error-msg">{{message}}</span><br><br><br>
<a class="small-link" href="/">Return to home</a>
<script>
    console.error('{{error.status}}');
    console.error(`{{error.stack}}`);
</script>
