<span class="error-code">Welcome to MCStatus</span><br><br>
<span class="error-msg">What is MCStatus?</span><br>
<a class="small-link" href="https://github.com/cloudybyte/MCstatus">MCStatus</a> is a spigot-powered plugin for your Minecraft Server. It exposes a REST-API which allows you to fetch data from your server, such as the system load and a player list.<br>
MCStatus-Web utilizes this API and displays the data on this stylish webinterface youre seeing right now.<br><br><br>

<span class="error-msg">What data can MCStatus show?</span><br>
As of right now, MCStatus is able to fetch the system load of the host which the server is running on, a list of all players, and detailed information about each player.<br>
Please use the sidebar to navigate through this data.
